{%extends "base.html" %}
{% block content %}
<h1>Edit Department</h1>
<div>
    <form action="/edit_department/{{ department.id }}" method="POST">
        <table>
            <tr>
                <td><label for="name">Department Name</label></td>
                <td><input type="text" id="name" name="name" value={{department.id}} required></td>
            </tr>
            <tr>
                <td><label for="description">Description</label></td>
                <td><input type="text" id="description" name="description" value="{{department.description}}"></td>
            </tr>
            <tr>
                <td><label for="building">Building</label></td>
                <td><input type="text" id="building" name="building" value="{{department.building}}"></td>
            </tr>
            <tr>
                <td><label for="status">Status</label></td>
                <td>
                    <select name="status" id="status">
                        <option value="active" {% if department.status == 'active' %}selected{% endif %}>Active</option>
                        <option value="closed" {% if department.status == 'closed' %}selected{% endif %}>Closed</option>
                        <option value="removed">Removed</option>
                    </select>
                </td>
            <tr>
                <td>
                    <input type="submit" value="Update Department">
                </td>
                <td>
                    <a href="/admin_dashboard">Cancel</a>
                </td>
            </tr>
        </table>
    </form>
</div>
{%endblock%}